
body{
    font-family:  "Open Sans","-apple-system","BlinkMacSystemFont","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
    line-height: 1.5;  
    
}
.list{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding:50px;
   
    
}
.list__item{
    width:33%;
}
h2 a{ 
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    
  }
a{
    
    text-decoration: none;
    color: rgb(249, 113, 113);
    font-size: 12px;
    font-weight: bold;
  }
hr{
    width: 22%;
    border-top: 1px solid red;
}

p{
    font-size: 14px;
}

li{
    list-style: none;
}