.container {
    display: grid;
    border: solid 1px #1D1E2C;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 60px;
    justify-content: center;
    padding: 60px;
    
  }
.container__item {
    margin-left: -5%;
    text-align: center; 
    column-count: inherit;
    font-family: system-ui," -apple-system", "BlinkMacSystemFont", 'Segoe UI'," Roboto", 'Oxygen',' Ubuntu',' Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif ;
}
 
h2 a{
    
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    
  }
a{
    
    text-decoration: none;
    color: rgb(249, 113, 113);
    font-size: 12px;
    font-weight: bold;
  }

hr{
  border-top: 1px solid red;
  width: 25%;
   
}

p{
    font-size: 14px;
}

li{
    list-style: none;
}
  